//package {{package}};

{{#imports}}import {{import}};
{{/imports}}

// TODO: import the correct annotations?
import io.swagger.annotations {
    apiModel,
    apiModelProperty__GETTER
}
import com.fasterxml.jackson.annotation {
    jsonProperty__GETTER
}
{{#models}}

{{#model}}{{#description}}
"""
   {{description}}
   """{{/description}}
apiModel{ description = "{{{description}}}"; }
shared class {{classname}}({{#vars}}{{name}}{{#defaultValue}} = {{{defaultValue}}}{{/defaultValue}}{{^defaultValue}}{{^required}} = null{{/required}}{{/defaultValue}}{{#hasMore}}, {{/hasMore}}{{/vars}}) {{#parent}}
      extends {{{parent}}}(/* TODO: parent arguments? */){{/parent}} {

// TODO: handle enum properties (figure out what the Java version did, and how we can reproduce this for Ceylon.)

{{#vars}}

  """{{#description}}{{{description}}}{{/description}}{{#minimum}}
     minimum: {{minimum}}{{/minimum}}{{#maximum}}
     maximum: {{maximum}}{{/maximum}}
     """
  apiModelProperty__GETTER { {{#required}} required = {{required}}; {{/required}} \ivalue = "{{{description}}}"; }
  jsonProperty__GETTER { \ivalue = "{{baseName}}"; }
  shared {{{datatypeWithEnum}}} {{name}};
{{/vars}}

  shared actual Boolean equals(Object o) {
    if (this == o) {
      return true;
    } else if(is {{classname}} o) {
      return [{{#vars}}this.{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}]
          == [{{#vars}}   o.{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}];
    } else {
       return false;
    }
  }

  shared actual Integer hash =>
      [{{#vars}}this.{{name}}{{#hasMore}}, {{/hasMore}}{{/vars}}].hash;

  shared actual String string  {
    String indent(Object? s) => s?.string?.replace("\n", "\n    ") else "<null>";
    value sb = StringBuilder();
    sb.append("{{classname}} {\n");
    {{#parent}}sb.append("    ").append(indent(super.string))).append("\n");
    {{/parent}}{{#vars}}sb.append("    {{name}}: ").append(indent({{name}})).append("\n");
    {{/vars}}sb.append("}");
    return sb.string;
  }
}
{{/model}}
{{/models}}
