module {{invokerPackage}} "{{versionNumber}}" {
  // These are needed for the annotations on the generated code.
  // These are Maven dependencies.
  import "io.swagger:swagger-annotations" "1.5.4";
  import "com.fasterxml.jackson.core:jackson-annotations" "2.6.3";
}
